.Post-List {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.Post {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 2%;
    align-items: center;
    margin: 10px;
}

.post-header {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;

}

.post-header p {
    width: auto;
}


/* Body Formatting*/
.post-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-body video, .post-body img {
    width: 100%;
    border-radius: 2%;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: left;
}

table {
    width: 100%;
}
td {
    padding: 10px;
}

th {
    padding-left: 5px;
    padding-right: 5px;
}


/* Footer Formatting */
.post-footer {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.post-footer p {
    width: auto;
}

.score {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

.score p, .comments p {
    margin-left: 5px;
    margin-right: 5px;
}

.comments {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}